@import './variables.css';
@import './globals.css';

@import './components/navbar.css';
@import './components/header.css';
@import './components/about.css';
@import './components/sing-in.css';
@import './components/footer.css';
