*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html {
    font-size: 62.5%;
  }
body {
    font-size: 1.6rem;
    margin-top: 15rem;
}
  
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.max-width{
    width: 100%;
    max-width: 120rem;
    padding: 0 4rem;
    margin: 0 auto;
}
