*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html {
    font-size: 62.5%;
  }
body {
    font-size: 1.6rem;
    margin-top: 15rem;
}
h2{
    font-size: 3rem;
    padding-bottom: 2rem;
}
h3{
    font-size: 1.65rem;
    font-weight: 800;
}
p{
    padding: 1rem 0 3rem 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.max-width{
    width: 100%;
    max-width: 120rem;
    padding: 0 4rem;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    html {
      font-size: 60%;
    }
  
    .max-width {
      padding: 0 2rem;
    }
  }