:root{
    --white: #ffffff;
    --gray: #d9d9d9;
    --secondary-color: #f9f8fe;
    --green: rgb(102, 211, 174);
    --green-secondary: rgb(132, 270, 124);
    --terciary-color: #575989;
    --footer-color: #080c55;
}