.about{
    padding: 0;
    margin: 0;
    background-color: var(--secondary-color);
    scroll-margin-top: 20rem;
}
.about .about__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about .about__content .about__left{
    max-width: 60rem;
    min-width: 40rem;
    flex: 1;
    padding-right: 2rem;
}
.about .about__content .about__left .about__item{
    background-color: var(--white);
    border-radius: 10px;
    max-width: 40rem;
    margin: 4rem 2rem;
    padding: 2rem;
}
.about .about__content .about__left .about__item::before{
    src: "./assets/icon-arrow.svg";
}
.about .about__content .about__left .about__item .about__item-internal{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.about .about__content .about__left .about__item .about__item-internal span p{
    padding: 0;
    font-size: 1.5rem;
}
.about .about__content .about__left .about__item .about__item-internal img{
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
    margin: 0 3rem 0 1rem;
}
.about .about__content .about__right img{
    max-width: 50rem;
    width: 100%;
    padding-left: 2rem;
}