footer{
    background-color: var(--footer-color);
    padding-top: 5rem;
    color: var(--white);
}
footer .footer__content{
    display: flex;
    justify-content: space-between;
}
footer .footer__content .footer__left{
    max-width: 60rem;
    min-width: 40rem;
    
}
footer .footer__content .footer__left p{
   
}
footer .footer__content .footer__right{
    max-width: 60rem;
    min-width: 40rem;
}
footer .footer__content .footer__right ul li{
    padding-top: 2rem;
}
footer .footer__content .footer__right ul li a:hover{
    color: var(--gray);
}