header .header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    scroll-margin-top: 20rem;
}
header .header__content .header__left{
    max-width: 60rem;
    min-width: 40rem;
    flex: 1;
    padding-right: 2rem;
}
header .header__content .header__right img{
    max-width: 50rem;
    width: 100%;
    padding-left: 2rem;
}
header .wave{
    margin-top: 10rem;
    min-height: 1rem;
    width: 100%;
    position: relative;
    background-color: var(--secondary-color);
}

@media only screen and (max-width: 768px){
    header .header__content{
        display: flex;
        flex-direction: column;
        
    }
    header .header__content .header__right{
        padding: 10rem auto;
    }
    
}