.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--white);
}
.navbar .navbar__content{
    padding: 3rem 4rem 1rem;
    display: flex;
    justify-content: space-between;
}
.navbar .navbar__content img{
    width: 17rem;
}
.navbar .navbar__content .navbar__links li{
    display: inline-block;
}
.navbar .navbar__content .navbar__links li:not(:last-of-type){
    margin-right: 2rem;
}
.navbar .navbar__content .navbar__links a{
    display: inline-block;
    padding: 1rem;
}
.navbar .navbar__content .navbar__links a:hover{
    color: var(--gray);
}

.navbar.active{
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.1);
}
.navbar .navbar__content .navbar__mobile,
.navbar .navbar__content .navbar__mobile .mobile__links{
    display: none;
}

@media only screen and (max-width: 768px){
    .navbar .navbar__content img{
        width: 14rem;
        cursor: pointer;
    }
    .navbar .navbar__content .navbar__links{
        display: none;
    }
    .navbar .navbar__content .navbar__mobile{
        display: flex;
        align-items: center;
    }
    .navbar .navbar__content .navbar__mobile img{
        width: 3.6rem;
        height: 3.6rem;
    }

}
@media only screen and (max-width: 425px){
    .navbar .navbar__content img{
        width: 10rem;
    }
}