.sing-in{
    background-color: var(--terciary-color);
    color: var(--white);
    padding: 2rem 0 3rem 0;
}
.sing-in .sing-in__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    scroll-margin-top: 20rem;
}
.sing-in .sing-in__content .sing-in__left{
    max-width: 60rem;
    min-width: 40rem;
    flex: 1;
    padding-right: 2rem;
}
.sing-in .sing-in__content .sing-in__right{
    max-width: 60rem;  
}